.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.index-container {
  display: flex;
  flex-direction: column;
}

.test img {
  width: 900px;
}

.studio-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.studio-left-column {
  width: 65%;
  position: relative;
}

.studio-right-column {
  width: 35%;
  margin-top: 60px;
}

.studio-left-column img {
  width: 100%;
  padding: 0px 30px 0px 0px;

}

.studio-price {
  display: flex;
  align-items: center;
}

.studio-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}

@media (max-width: 940px) {
  .studio-container {
    flex-direction: column;
    margin-top: 60px;
  }

  .studio-left-column,
  .studio-right-column {
    width: 100%;
  }

  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}

@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}

.studio-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.studio-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.studio-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.studio-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}


