.box2 {
    padding: 20px;
    width: 634px;
    height: 634px;
    margin-left: 326px;
    margin-top: 60px;
    border-style: solid;
    border-width: 0px;
    background-color: rgba (220,160,140,0.5);
    opacity: 100%;
    color: white;
}

.form-centre {
   margin: auto;
   margin-bottom: 240px;
}
